#debug {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
}
/*
#testDiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
*/